h1{
    text-align: center;
}

.nav_main{
    
}
.img{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

@media (max-width: 480px){
    .img{
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
        background-color: red;
    }
}